<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  </style>
  
  <title></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
  <div class="navbar navbar-expand-md bg-dark navbar-dark" role="navigation">
   <div class="container">
    <div class="navbar-header">
     <a class="navbar-brand" href="#"><img src="./left-arrow.png"></a>
    </div>
    <div class="navbar-collapse">
     <ul class="navbar-nav">
      <li class="nav-item nav-link"><img src="icon/information.png" style="width: 32px;"></li>
      <!--   로그인이 되어있을 때   -->
      <li class="nav-item nav-link">username</li>
      <!--   end 로그인이 되어있을 때   -->
     </ul>
    </div>
   </div>
  </div>
  
  <div class="container mt-3">
    <div class="border " style="min-height: 600px">
     <div id="chatting-body" class="chatting-body container mt-2" style="min-height: 500px; max-height: 600px; overflow: auto;">
       <div class="outhre d-flex flex-row"><div class="p-2"><img src="icon/information.png" style="width: 32px"><div>username</div></div><div class="p-2 col-sm-5 border border-secondary rounded-lg" style="word-break: break-all">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</div></div>
      <div class="me d-flex flex-row-reverse"><div class="p-2 col-sm-6 border border-warning rounded-lg bg-warning" style="word-break: break-all">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</div></div>
      <div class="outhre d-flex flex-row"><div class="p-2"><img src="icon/information.png" style="width: 32px"><div>username</div></div><div class="p-2 col-sm-5 border border-secondary rounded-lg" style="word-break: break-all">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</div></div>
      <div class="me d-flex flex-row-reverse"><div class="p-2 col-sm-6 border border-warning rounded-lg bg-warning" style="word-break: break-all">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</div></div><div class="outhre d-flex flex-row"><div class="p-2"><img src="icon/information.png" style="width: 32px"><div>username</div></div><div class="p-2 col-sm-5 border border-secondary rounded-lg" style="word-break: break-all">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</div></div>
      <div class="me d-flex flex-row-reverse"><div class="p-2 col-sm-6 border border-warning rounded-lg bg-warning" style="word-break: break-all">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</div></div><div class="outhre d-flex flex-row"><div class="p-2"><img src="icon/information.png" style="width: 32px"><div>username</div></div><div class="p-2 col-sm-5 border border-secondary rounded-lg" style="word-break: break-all">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz<div>2019-10-20 13:33</div></div></div>
      <div class="me d-flex flex-row-reverse"><div class="p-2 col-sm-6 border border-warning rounded-lg bg-warning" style="word-break: break-all">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</div></div>
     </div>
     <div class="chatting-write mt-3">
       <div class="form-group container">
<!--        <textarea class="form-control" rows="5"></textarea>-->
        <div class="form-control border border-secondary rounded mh-100" id="chatTextArea" style="height: 50px" contenteditable="true">
        
        </div>
        <input class="btn btn-outline-secondary form-control mt-1" id="submit" type="submit" value="submit" disabled />
       </div>
     </div>
    </div>
  </div>
  <script>
    $(function(){
     $('#chatting-body').scrollTop($('#chatting-body')[0].scrollHeight);
     $('#chatTextArea').keyup(function(e){
      if($('#chatTextArea').text().replace(/(\s*)/g, "") != ""){
       $('#submit').attr("disabled", false);
      }else{
       $('#submit').attr("disabled", true);
      }
     });
    })
  </script>
 </body>
</html>