{% extends "base.html" %}

{% block title %}Flask - Change Password{% endblock %}

{% block page_content %}
<div class="page-header">
 <h1>Reset Your Password</h1>
</div>
<div class="col-md-4">
 <form action method="post" class="form" role="form" onsubmit="return check_pw()">
  <div class="form-group required">
   <label class="control-label" for="old_password">Old password</label>
   <input class="form-control" id="old_password" name="old_password" required type="password" value>
  </div>
  <div class="form-group required">
   <label class="control-label" for="password">New password</label>
   <input class="form-control" id="password" name="password" required type="password" value>
  </div>
  <div class="form-group required">
   <label class="control-label" for="password2">Confirm New password</label>
   <input class="form-control" id="password2" name="password2" required type="password" value>
  </div>
  <input class="btn btn-default" id="submit" name="submit" type="submit" value="Update Password">
 </form>
</div>
<script>
 function check_pw(){
  var check = false;
  var o_pw = document.getElementById('old_password').value;
  var pw = document.getElementById('password').value;
  var pw2 = document.getElementById('password2').value;
  if(o_pw === '' && pw ==='' && pw2 ===''){
   check = false;
  }
  else{
   check = true;
  }
  
  if(pw === pw2){
   check = true;
  }else{
   check = false;
  }
  
  return check
 }
</script>
{% endblock %}