{% extends "base.html" %}

{% block title %}Flasky Example - Chatting Room{% endblock %}

{% block page_content %}
   <div class="mt-5">
    <div class="border border-right-0 border-left-0 border-light bg-secondary text-light d-flex justify-content-between bg-secondary mb-2">
     <h1 class="ml-3">Chatting Room</h1>
     <a href="/createroom" class="mr-2"><img src="{{url_for('static', filename='icon/add.png')}}" alt="채팅방 만들기." /></a>
    </div>
    <div class="border border-top-0 border-left-0 border-right-0 border-secondary" style="overflow: auto; height: 600px;">
     <div class="input-group p-1">
      <div class="input-group-prepend">
       <span class="input-group-text"><span class="fas fa-search"></span></span>
      </div>
      <input class="form-control" id="searchList" placeholder="방 제목을 입력해주세요." type="text" />
     </div>
     <ul class="posts" id="userList">
      {% if chats %}
       {% for chat in chats %}
        <a href="/chatting?roomId={{chat.room_id}}"><li class="post">{{chat.title}}</li></a>
       {% endfor %}
      {% endif %}
     </ul>
    </div>
   </div>
   <script>
     $(function(){
      $("#searchList").on("keyup", function(){
       var value = $(this).val().toLowerCase();
       $("#userList a").filter(function(){
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
       });
      });
     });
   </script>
{% endblock %}