{% extends "base.html" %}

{% block title %}Flasky Example - Edit Profile{% endblock %}

{% block page_content %}
<div class="nav-tabs mt-5 mb-4 pb-2">
 <h1>Edit Your Profile</h1>
</div>
<div class="col-md-4">
 <form method="post" class="form" role="form" enctype="multipart/form-data">
    <img class="img-rounded" id="profile-img" src="{{ url_for('static', filename='icon/') }}{{image_name}}" width="256px">
    <input type="file" id="profile-file" name="file" accept="image/*">
  <div class="form-group">
   <label class="font-weight-bold" for="username">UserName</label>
   <input class="form-control" id="username" name="username" type="text" value="{{username}}">
  </div>
  <div class="form-group">
   <label class="font-weight-bold" for="location">location</label>
   <input class="form-control" id="location" name="location" type="text" value="{{location}}">
  </div>
  <div class="form-group">
   <label class="font-weight-bold" for="about_me">About me</label>
   <textarea class="form-control" id="about_me" name="about_me">{{about_me}}
   </textarea>
  </div>
  <input class="btn btn-outline-secondary text-secondary" id="submit" name="submit" type="submit" value="Submit">
 </form> 
</div>
<script>
  // 이미지 변경시 미리보기 기능 구현.
  $(function(){
   $('#profile-file').change(function(){
    if(this.files && this.files[0]){
     var reader = new FileReader();
     reader.onload = function(e){
      $('#profile-img').attr('src', e.target.result);
     }
     reader.readAsDataURL(this.files[0]);
    }
   })
  })
</script>
{% endblock %}