{% extends "base.html" %}

{% block title %}Flask - Profile{% endblock %}

{% block page_content %}
<div class="page-header mt-5 mb-4 pb-2">
 <div class="row">
  <div class="col-md-4">
   <img class="img-thumbnail profile-thumbnail" src="{{url_for('static', filename='icon/')}}{{image_name}}" width="256px">
  </div>
  <div class="profile-header col-md-8">
   <h1>{{profile_user}}</h1>
   {% if location %}
   <p>
    from <a href="http://maps.google.com/?q={{location}}">{{location}}</a>
    <br>
   </p>
  {% endif %}

  {% if about_me %}
   <p>{{about_me}}</p>
  {% endif %}

  <p>가입 날짜: {{ member_since }}</p>
   <div class="btn-group">
    <div class="btn btn-light">
     <p class="p-2 text-secondary font-weight-bolder">{{ posts_count }}</p>
     <p class="p-2 text-secondary font-weight-bolder">게시글</p>
    </div>
    <div class="btn btn-light">
     <p class="p-2 text-secondary font-weight-bolder">{{ followers_count }}</p>
     <a href="/follow_list/{{profile_user}}/follow" class="p-2 text-secondary font-weight-bolder">팔로워</a>
    </div>
    <div class="btn btn-light">
     <p class="p-2 text-secondary font-weight-bolder">{{ following_count }}</p>
     <a href="/follow_list/{{profile_user}}/following" class="p-2 text-secondary font-weight-bolder">팔로잉</a>
    </div>
   </div>
   <div class="mt-2">
    {% if profile_user == session['username'] %}
     <a class="btn btn-outline-secondary text-secondary font-weight-bolder" href="/edit_profile">Edit Profile</a>
    {% else %}
     {% if not show_follow %}
      <a href="/follow/{{profile_user}}" class="btn btn-primary btn-lg" style="width: 267px">팔로우</a>
     {% else %}
      <a href="/unfollow/{{profile_user}}" class="btn btn-outline-secondary btn-lg" style="width: 267px">언팔로우</a>
     {% endif %}
    {% endif %}
   </div>
  </div>
 </div>
</div>
<div>
 <h3>작성한 게시글</h3>
  {% include '_posts.html' %}
 
  {% if paging %}
   <div>
    <ul class="pagination pagination-lg" id="pagination"></ul>
   </div>
    <script>
     $(function(){
      $('#pagination').pagination({
       items: {{paging}},
       itemOnPage: 5,
       currentPage: {{current_page}},
       prevText: '<span aria-hidden="true">&laquo;</span>',  
       nextText: '<span aria-hidden="true">&raquo;</span>',
       hrefTextPrefix: '{{url}}/',
       onInit: function(){},
       onPageClick: function(page, evt){
        location.replace('/{{url}}/'+page);
       }
      });
     })
    </script>
  {% endif %}
</div>
{% endblock %}